### Dependencies###

In [2]:
from datetime import datetime as dt
import matplotlib.pyplot as plt
from matplotlib import style
import pandas as pd
import pandas_datareader.data as web
import json
import numpy as np
#%matplotlib inline

### Helpful links: ###
http://pandas-datareader.readthedocs.io/en/latest/remote_data.html#remote-data-morningstar
https://pythonprogramming.net/getting-stock-prices-python-programming-for-finance/

In [22]:
stocks = ["FB","AAPL","AMZN","NFLX","GOOG","GLD"]
start = dt(2017, 1, 1)
end = dt(2017, 12, 31)

stocksdf = web.DataReader(stocks,"morningstar", start, end)
stocksdf.head()

Symbol  Date
FB      2017-01-02    115.05
        2017-01-03    116.86
        2017-01-04    118.69
        2017-01-05    120.67
        2017-01-06    123.41
Name: Close, dtype: float64

In [6]:
stocksdf.to_csv("main.csv")

In [28]:
stocksdf = pd.read_csv("main.csv")

stocksdf.head()

  Symbol       Date   Close    High       Low    Open    Volume  Close-Open
0     FB  1/02/2017  115.05  115.05  115.0500  115.05         0        0.00
1     FB  1/03/2017  116.86  117.84  115.5100  116.03  20663912        0.83
2     FB  1/04/2017  118.69  119.66  117.2900  117.55  19630932        1.14
3     FB  1/05/2017  120.67  120.95  118.3209  118.86  19492150        1.81
4     FB  1/06/2017  123.41  123.88  120.0300  120.98  28545263        2.43

In [29]:
stocks = ["FB","AAPL","AMZN","NFLX","GOOG","GLD"]
start = dt(2017, 1, 1)
end = dt(2017, 12, 31)

gstocks_df= web.DataReader(stocks, "google", start, end)["Close"]
#df_AAPL = AAPL_df[["Open","Low","High","Close","Volume"]]

gstocks_df.head()

/Users/gayatripingale/anaconda3/lib/python3.6/site-packages/pandas_datareader/google/daily.py:40: UnstableAPIWarning:
The Google Finance API has not been stable since late 2017. Requests seem
to fail at random. Failure is especially common when bulk downloading.

  warnings.warn(UNSTABLE_WARNING, UnstableAPIWarning)

              AAPL    AMZN      FB     GLD    GOOG    NFLX
Date
2017-01-03  116.15  753.67  116.86  110.47  786.14  127.49
2017-01-04  116.02  757.18  118.69  110.86  786.90  129.41
2017-01-05  116.61  780.45  120.67  112.58  794.02  131.81
2017-01-06  117.91  795.99  123.41  111.75  806.15  131.07
2017-01-09  118.99  796.92  124.90  112.67  806.65  130.95

In [32]:
gstocks_df.describe()

,AAPL,AMZN,FB,GLD,GOOG,NFLX
count,251.000000,251.000000,251.000000,251.000000,251.000000,251.000000
mean,150.551036,968.167012,156.576175,119.704661,921.781434,165.374263
std,14.621232,106.580210,17.379058,3.132584,77.232928,21.295641
min,116.020000,753.670000,116.860000,110.470000,786.140000,127.490000
25%,141.815000,889.025000,141.000000,117.725000,836.995000,144.245000
50%,152.740000,967.990000,153.610000,119.820000,929.570000,162.430000
75%,159.855000,1002.970000,171.975000,121.730000,972.760000,185.595000
max,176.420000,1195.830000,183.030000,128.130000,1077.140000,202.680000

In [31]:
# Daily corelation between the stocks
corr_df = corr_df.corr()
corr_df.head()

NameError: name 'corr_df' is not defined

In [24]:
# checking how a perticular stock, here I took AMZN, is corelated to other stocks

corr_df["AMZN"].sort_values(ascending = False)

NameError: name 'corr_df' is not defined

In [ ]:
from pandas.tools.plotting import scatter_matrix
#scatter_matrix(stocks_data, alpha = 0.3, figsize=(16,12), diagonal='kde')
scatter_matrix(stocks_data, alpha = 0.3, figsize=(16,12))
plt.savefig("stocksdata_scattermatrix.png")
#plt.show()

In [ ]:
#plotting pair plot for correlation dataframe "corr_stocks"

import seaborn as sns
sns.set(style="ticks")

sns.pairplot(corr_stocks)
plt.savefig("corrstocks_pairplot.png")
#plt.show()

In [ ]:

stocks_data.plot(legend = True, figsize = (15,5))
plt.savefig("stocksdata.png")
#plt.show()

In [ ]:
# Sentimental Analysis

# I have some progress on code.  But still working on filtering tweets from desired users

# I will take the tweets from 10 different famous users/analysts

In [ ]:
# creating csv file of the original df with opne, close, high and low columns
diffmain_df = pd.read_csv("stocks_data.csv")
diffmain_df.head()