In [121]:
from datetime import datetime as dt
import matplotlib.pyplot as plt
from matplotlib import style
import pandas as pd
import pandas_datareader.data as web
import json
import numpy as np
from pandas.tools.plotting import scatter_matrix

In [129]:
df = pd.read_csv("stocks_data.csv")
#df.read_csv(stocks_data.csv ,  index = False) 
df.head()

         Date    AAPL    AMZN      FB     GLD    GOOG    NFLX
0  2017-01-03  116.15  753.67  116.86  110.47  786.14  127.49
1  2017-01-04  116.02  757.18  118.69  110.86  786.90  129.41
2  2017-01-05  116.61  780.45  120.67  112.58  794.02  131.81
3  2017-01-06  117.91  795.99  123.41  111.75  806.15  131.07
4  2017-01-09  118.99  796.92  124.90  112.67  806.65  130.95

In [130]:
percent_change = df.pct_change()
#percent_change.tail()

TypeError: unsupported operand type(s) for /: 'str' and 'str'

In [86]:
stocksdata = pd.read_csv("morningstarstocks.csv")
stocksdata.head()
#merged_df.groupby(['type'])

   Unnamed: 0 Symbol        Date   Close    High       Low    Open    Volume
0           0     FB  2017-01-02  115.05  115.05  115.0500  115.05         0
1           1     FB  2017-01-03  116.86  117.84  115.5100  116.03  20663912
2           2     FB  2017-01-04  118.69  119.66  117.2900  117.55  19630932
3           3     FB  2017-01-05  120.67  120.95  118.3209  118.86  19492150
4           4     FB  2017-01-06  123.41  123.88  120.0300  120.98  28545263

In [49]:
#df = pd.DataFrame(stock_data)[["Open", "Close"]]
aaplstocks = pd.DataFrame(stocksdata)[["Symbol","Close"]]

In [55]:
#urban_df = city_rides_df[(city_rides_df.type == 'Urban')]
aapldata = stocksdata[(stocksdata.Symbol == "AAPL")]
aapldata.head()

     Unnamed: 0 Symbol        Date   Close      High     Low    Open    Volume
260         260   AAPL  2017-01-02  115.82  115.8200  115.82  115.82         0
261         261   AAPL  2017-01-03  116.15  116.3300  114.76  115.80  28781865
262         262   AAPL  2017-01-04  116.02  116.5100  115.75  115.85  21118116
263         263   AAPL  2017-01-05  116.61  116.8642  115.81  115.92  22193587
264         264   AAPL  2017-01-06  117.91  118.1600  116.47  116.78  31751900

In [83]:
#start = dt(2017, 1, 1)
#end = dt(2017, 12, 31)
#aapldata = web.DataReader("AAPL", "google", start, end)

In [ ]:
#percent_return = aapldata["Close"].pct_change()

In [91]:
aapldata  = pd.DataFrame(stocksdata)[["Symbol","Date","Close"]]
aapldata.head()

  Symbol        Date   Close
0     FB  2017-01-02  115.05
1     FB  2017-01-03  116.86
2     FB  2017-01-04  118.69
3     FB  2017-01-05  120.67
4     FB  2017-01-06  123.41

In [93]:
aapldata = stocksdata[(stocksdata.Symbol == "AAPL")]
aapldata.head()

     Unnamed: 0 Symbol        Date   Close      High     Low    Open    Volume
260         260   AAPL  2017-01-02  115.82  115.8200  115.82  115.82         0
261         261   AAPL  2017-01-03  116.15  116.3300  114.76  115.80  28781865
262         262   AAPL  2017-01-04  116.02  116.5100  115.75  115.85  21118116
263         263   AAPL  2017-01-05  116.61  116.8642  115.81  115.92  22193587
264         264   AAPL  2017-01-06  117.91  118.1600  116.47  116.78  31751900

In [103]:
percent_return = stocksdata["Close"].pct_change()
percent_return.head()

0         NaN
1    0.015732
2    0.015660
3    0.016682
4    0.022707
Name: Close, dtype: float64

In [101]:
percent_return['AAPL'].quantile(0.05)

KeyError: 'AAPL'